[Desktop Entry]
Name=Vehicle Monitor
Comment=Start the vehicle monitor
Exec=/home/{{ ansible_ssh_user }}/start.sh
Icon=/home/{{ ansible_ssh_user }}/fyp.xpm
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;